.container {
    width: 100%;
    min-height: 90vh;
    height: auto;
    display: flex;
}

.element {
    width: 50%;
    min-height: 90vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}